@mixin sm() { //640px
  @media screen and (min-width: $sm) {
    @content;
  }
}
@mixin md() { //768px
  @media screen and (min-width: $md) {
    @content;
  }
}
@mixin lg() { //1024px
  @media screen and (min-width: $lg) {
    @content;
  }
}
@mixin xl() { //1280
  @media screen and (min-width: $xl) {
    @content;
  }
}
@mixin hd() { //1536px
  @media screen and (min-width: $hd) {
    @content;
  }
}